*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins',sans-serif;

}
body{
 display: flex;
 justify-content:center;
 align-items:center;
 min-height: 100vh;
 background: url('background.jpg')no-repeat;
 background-size: cover;
 background-position: center;
}

header{
 position: fixed;
 top:0;
 left:0;
 width:100%;
 padding:20px 100px;
display: flex;
justify-content: space-between;
align-items: center;


}
.logo{
font-size:2em;
color: #000;
user-select: none;
}
.navigation a{
 position: relative;
 font-size: 1.1em;
 color: #000;
 text-decoration: none;
 font-weight: 500;
margin-left: 40px;
}
.navigation button{
color:#f04563;

}
.navigation a::after{
content:'';
position: absolute;
left:0;
bottom: -6px;
width: 100%;
height: 3px;
background: #000000;
border-radius :5px;
transform-origin: right;
transform: scaleX(0);
transition: transform .5s;
}
.navigation a:hover::after{
transform-origin: left;
 transform: scaleX(1);

}
.navigation .btnLogin-popup{
width: 130px;
height: 50px;
background: transparent;
border: 2px solid #000;
outline: none;
border-radius: 6px;
cursor: pointer;
font-size:1.1em;
color: #000;
font-weight: 500;
margin-left:40px;
}
.navigation .btnLogin-popup:hover{
background: #000;
color:#fff;

}
 .wrapper{
 position: relative;
 height:450px;
 width:400px;
 color:rgb(5, 5, 7);
 background-color: transparent;
 border: 2px solid rgba(0,0,0, .5);
 backdrop-filter:blur(10px);
 border-radius:5px;
 box-shadow:0 0 30 rgba(0,0,0,.5);
 display:flex;
 justify-content: center;
 align-items: center;
 }
 .wrapper h2{
  position: static;
 }
wrapper.from-box{
width:100%;
padding:40px;
}
.from-box h2{
font-size:2em;
color:#000;
text-align:center;
position:5px;
align-items: center;

}

.input-box{
position: relative;
width:88%;
height:50px;
border-bottom: 2px solid #000;
margin:20px 0;
transform: translateY(-50%);


}
 
.input-box Label{
position:absolute;
top:20%;
left:5px;
transform:translateY(-40%);
font-size:1em;
color:#000;
font-weight:500;
pointer-events:none;
transition: .5s;
}
.input-box input:focus~label
{
top: -5px;
}
.input-box input{
width:100%;
height:100%;;
background-color: transparent;
border:none;
outline:none;
position:bottom;
}

.remember-me button{
  width: 100%;
  height: 40px;
  background: transparent;
  border: 2px solid #000;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size:1.1em;
  color: #000;
  font-weight: 500;
  
  }
  .remember-me button:hover{
  background: #000;
  color: #39164d;
  
  }
  .remember-me a{
    color:#39164d;
   align-items: center;
    text-decoration: none;
  }
  .create-new-account a{
    color:#39164d;
text-decoration: none;

  }